{% extends 'blog/base.html' %}

{% block title %}Mój blog{% endblock %}

{% block content %}
<div class="posts-list-wrapper">
    <h1>Lista postów</h1>
    {% for post in posts %}
    <a class="post-item" href="{{ post.get_absolute_url }}">
        <div class="titie">{{ post.title }}</div>
        <div class="date">Opublikowany: {{ post.publish }} przez {{ post.author }}</div>
        <div class="description">{{ post.body|truncatewords:15|linebreaks }}</div>
    </a>
    {% endfor %}

    <!-- Paginator -->
    {% include "pagination.html" with page=page_obj %}

</div>
{% endblock %}