body {
    font-family: helvetica, sans-serif;
}

a {
    .title {
        color: $blue-100;
    }

    .date {
        color: $gray-100;
    }

    &:hover {
        text-decoration: none;
    }
}

h1 {
    padding: 0 0 $padding-1 0;
    border-bottom: 1px solid $gray-100;
}

.container {
    margin: $margin-3 auto;

    #sidebar {
        .latest-post-header {
            margin-top: $margin-2;
        }

        .latest-post-list,
        .most-popular-post-list {
            padding-left: 0;
            list-style-type: none;
        }
    }
}
