// SIZES
$margin-3: 30px;
$margin-4: 40px;

$padding-1: 10px;
$padding-3: 30px;

$font-xs: 12px;
$font-xl: 20px;


$default-sidebar-height: 60px;

// COLORS
$gray-100: #aaa;
$gray-200: #efefef;

$blue-100:#00abff;
$blue-200: #0a77ad;